@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import '@animxyz/core';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include xyz-all;

body {
	margin: 0;
	font-family: 'IBM Plex Mono', monospace;
	background-color: #151f38;
}